.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    margin: 1rem 0;
    color: light-dark(blue, cyan);
    user-select: none;
}

.link::first-letter{
    text-transform: capitalize;
}

.link:hover{
    cursor: pointer;
}