.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container p{
    color: blue;
    user-select: none;
}

.container p::first-letter{
    text-transform: capitalize;
}

.container p:hover{
    cursor: pointer;
}