.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0 3rem 0;
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
        grid-template-columns: 1fr;
        margin: 0 0 3rem 0;
    }
}

.item{
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-aspect-ratio: 13/9){
    .item{
        aspect-ratio: 21/10;
    }
}


.inner{
    position: absolute;
    width: 80%;
    aspect-ratio: 4/3;
    border: 2px solid var(--categoryOverlay);
    color: var(--onCategoryOverlayFont);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.25rem;
    background:rgba(0,0,0,0.5);
    text-shadow: 2px 2px black;
}

@media only screen and (max-aspect-ratio: 13/9){
    .inner{
        aspect-ratio: 21/10;
    }
}

