.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
}

.item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: var(--primaryButtonBorder);
    background: var(--primaryButtonBackgroundUnselected);
    color: var(--primaryButtonFontUnselected);
    margin: 0 0.5rem;
    text-decoration: none;
}

.image{
    margin: 0.5rem;
}

.link{
    text-align: center;
    margin: 0.5rem;
}