.footer,
.footerMobile{
    position: relative;
    width: 100%;
    border-top: 5px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--onBackgroundFont);
}

@media only screen and (max-aspect-ratio: 13/9){
    .footer{
        display: none;
    }
    .footerMobile{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
@media only screen and (min-aspect-ratio: 13/9){
    .footerMobile{
        display: none;
    }
}

.linkBox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.linkItem{
    position: relative;
    width: 80%;
    display: flex;
    margin: 0.25rem;
}

@media only screen and (max-aspect-ratio: 13/9){
    .linkItem{
        width: 100%;
        justify-content: center;
    }
}

.link{
    color: var(--onBackgroundFont);
    text-decoration: none;
}

.social{
    display: flex;
    margin: 1rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    position: relative;
    width: 50%;
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
        width: 50%;
    }
}

.socialItem{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.copy{
    position: relative;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0 0 0.5rem 0;
}