.h1{
    position: relative;
    width: 100%;
    text-align: center;
}

.p{
    position:relative;
    width: 100%;
    text-align: center;
}

@media only screen and (max-aspect-ratio: 13/9){
    .desktop{
        display: none;
    }
}