:root {
  padding: 0;
  margin: 0;
  /* Light mode */
  --mainColorLight: red; /* Navbar, Footer Divider, etc */
  --mainColorFontLight: white; /* Mainly concerns Navbar links */
  --mainColorBackgroundLight: white; /* Page content background */
  --mainFontColorLight: black; /* Page content font color */
  --mainTitleColorLight: black;
  /* Dark mode (for future use */
  --mainColorDark: darkred; /* Navbar, Footer Divider, etc */
  --mainColorFontDark: gray; /* Mainly concerns Navbar links */
  --mainColorBackgroundDark: black; /* Page content background */
  --mainFontColorDark: lightgrey; /* Page content font color */
  --mainTitleColorDark: lightgrey;
}

body{
  max-width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--mainColorBackgroundLight);
  color: var(--mainFontColorLight);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  position: relative;
  min-height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-aspect-ratio: 13/9){
  main{
      width: 90%;
  }
}

article{
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

section{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 5px solid red;
  padding: 0 0 2rem 0;
  color: var(--mainFontColorLight);
}

section:last-child{
  border: none;
}

h1{
  position: relative;
  width: 100%;
  margin: 3rem 0;
  font-size: 2rem;
  color: var(--mainTitleColorLight);
}

h2{
  position: relative;
  width: 100%;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--mainTitleColorLight);
}

blockquote{
  margin: 1rem 0;
  border-left: 5px solid red;
  font-style: italic;
}

blockquote p{
  margin: 0 0 0 1rem;
}

.metaText{
  position: relative;
  width: 100%;
  margin: 0;
}

.leftAlign{
  justify-content: flex-start;
}

.rightAlign{
  justify-content: flex-end;
}

.subSection{
  border: none;
  padding: 0
}

/* Swiper.js navigation button classes */

.similar_next,
.similar_prev{
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index:9999;
}

@media only screen and (max-aspect-ratio: 13/9){
  .similar_next,
.similar_prev{
  display: none;
  }
  .swiper{
    font-size: 1rem;
  }
}

.similar_prev{
  left: 0;
  justify-content: flex-start;
}

.similar_next_container,
.similar_prev_container{
  position: relative;
  width: 50%;
  aspect-ratio: 1/1;
  background: red;
  opacity: 0.8;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0;
  font-size: 4vw;
}

.similar_prev_container{
  margin: 0 0 0 1rem;
}

.similar_next_container:hover,
.similar_prev_container:hover{
  cursor: pointer;
}