:root {
  padding: 0;
  margin: 0;
  --primary: red; /* Navbar, Footer Divider, etc */
  --onPrimaryFont: white; /* Mainly concerns Navbar links */
  --background: #fafafa; /* Page content background */
  --backgroundItem: #fafafa;
  --onBackgroundFont: black; /* Page content font color */
  --backgroundItemFont: #black;
  --titleColor: black;
  --categoryOverlay: white;
  --onCategoryOverlayFont: white;
  --primaryButtonBorder: 2px solid var(--primary);
  --primaryButtonBackgroundUnselected: var(--backgroundItem);
  --primaryButtonFontUnselected: var(--onBackgroundItemFont);
  --primaryButtonFontSelected: var(--onPrimaryFont);
  --primaryButtonBackgroundSelected: var(--primary);
  --spoilerBackground: lightgrey;
  --spoilerBorder: 2px solid var(--spoilerBackground);
  --imageFrameBackground: white;
  --imageFrameShadow: 0px 0px 5px 0px black;
  --imageFrameBorder: none;
  --cardBackground: white;
  --cardShadow: 0px 0px 5px 0px black;
  --cardBorder: none;
  --tableRowHighlight: #efefef;
}

[data-theme='dark']{
  padding: 0;
  margin: 0;
  --primary: darkred; /* Navbar, Footer Divider, etc */
  --onPrimaryFont: #e0e0e0; /* Mainly concerns Navbar links */
  --background: #2f2f2f; /* Page content background */
  --backgroundItem: black;
  --onBackgroundFont: #e0e0e0; /* Page content font color */
  --backgroundItemFont: #e0e0e0;
  --titleColor: lightgrey;
  --categoryOverlay: #e0e0e0;
  --onCategoryOverlayFont: #e0e0e0;
  --primaryButtonBorder: 2px solid var(--primary);
  --primaryButtonBackgroundUnselected: var(--background);
  --primaryButtonFontUnselected: var(--onBackgroundItemFont);
  --primaryButtonFontSelected: var(--onPrimaryFont);
  --primaryButtonBackgroundSelected: var(--primary);
  --spoilerBackground: darkslategrey;
  --spoilerBorder: 2px solid var(--spoilerBackground);
  --imageFrameBackground: black;
  --imageFrameShadow: none;
  --imageFrameBorder: none;
  --cardBackground: black;
  --cardShadow: none;
  --cardBorder: none;
  --tableRowHighlight: #2f2f2f;
}

body{
  max-width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--background);
  color: var(--onBackgroundFont);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  position: relative;
  min-height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-aspect-ratio: 13/9){
  main{
      width: 90%;
  }
}

article{
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

section{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 5px solid var(--primary);
  padding: 0 0 2rem 0;
  color: var(--onBackgroundFont);
}

section:last-child{
  border: none;
}

h1{
  position: relative;
  width: 100%;
  margin: 3rem 0 0 0;
  font-size: 2rem;
  color: var(--titleColor);
}

h2{
  position: relative;
  width: 100%;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--titleColor);
}

h3{
  position: relative;
  width: 100%;
  margin-top: 2rem;
  font-size: 1.25rem;
  color: var(--titleColor);
}

h4{
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid lightgrey;
  font-size: 1.125rem;
  color: var(--titleColor);
}

blockquote{
  margin: 1rem 0;
  border-left: 5px solid var(--primary);
  font-style: italic;
}

blockquote p{
  margin: 0 0 0 1rem;
}

hr{
  position: relative;
  width: 100%;
}

iframe{
  position: relative;
  width: 100%;
  aspect-ratio: 21/10;
}

.metaText{
  position: relative;
  width: 100%;
  margin: 0;
}

.leftAlign{
  justify-content: flex-start;
}

.rightAlign{
  justify-content: flex-end;
}

.subSection{
  border: none;
  padding: 0
}

.noBorder{
  border: none;
}

/* Swiper.js navigation button classes */

.sliderWrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-aspect-ratio: 13/9){
  .sliderWrapper{
    display: none;
  }
}

.swmYear{
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.backToTop{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.backToTopLink{
  text-decoration: none;
  color: white;
  background: red;
  padding: 0.5rem;
  box-shadow: 0px 2px 2px 0px black;
}

.storeContainer{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
}

.store{
  position: relative;
  width: 100%;
  aspect-ratio: 21/10;
}

.genericTable{
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: 5px solid var(--primary);
}



.genericTable > tbody > tr:first-child > td{
  padding: 0.5rem;
  text-align: center;
  background: var(--primary);
}

.genericTable > tbody tr{
  border: none;
  border-color: transparent;
  background: var(--cardBackground);
}

.genericTable > tbody tr td{
  padding: 0.5rem;
}

.genericTable > tbody tr:nth-child(even){
  background: var(--tableRowHighlight);
}

.genericTable > tbody > tr:first-child{
  font-weight: bolder;
  background: var(--primary);
  color: var(--onPrimaryFont);
}