.gallery{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: var(--mainColorBackgroundLight);
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;

    text-decoration: none;
    color: var(--mainFontColorLight);
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
        grid-template-columns: 1fr;
    }
  }

.image{
    position: relative;
    height: 50vh;
    margin: 0.5rem;
}

.text{
    position: relative;
    margin: 0.5rem;
}