.nav,
.navMobile{
    position: relative;
    width: 100%;
    height: 3rem;
    background: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-aspect-ratio: 13/9){
    .nav{
        display: none;
    }
}
@media only screen and (min-aspect-ratio: 13/9){
    .navMobile{
        display: none;
    }
}

.logo{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    background: green;
}

.container{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.link{
    font-size: 1.25rem;
    margin: 0 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.burger{
    position: relative;
    margin: 0 2rem;
    font-size: 2rem;
    color: white;
    transition: 0.5s;
}

.burger:hover{
    cursor: pointer;
}

.subcontainer{
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: red;
    z-index: 9999;
}

.sublink{
    width: 100%;
    text-align: right;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}