.nav,
.navMobile{
    position: relative;
    width: 100%;
    height: 4rem;
    background: var(--mainColorLight);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-aspect-ratio: 13/9){
    .nav{
        display: none;
    }
}
@media only screen and (min-aspect-ratio: 13/9){
    .navMobile{
        display: none;
    }
}

.logoContainer{
    position: relative;
    height: 100%;
    aspect-ratio: 1.5/1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media only screen and (max-aspect-ratio: 13/9){
    .logoContainer{
        justify-content: center;
        align-items: center;
    }
}

.logo{
    position: relative;
    height: 150%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background: var(--mainColorFontLight);
    border-radius: 100%;
    margin: 0.5rem 0 0 0.5rem;
}

@media only screen and (max-aspect-ratio: 13/9){
    .logo{
        height: 70%;
        margin: 0;
    }
}

.tagline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColorFontLight);
    font-weight: bolder;
    font-size: 1.25rem;
}
@media only screen and (max-width: 300px){
    .tagline{
        display: none;
    }
}

.container{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.link{
    font-size: 1.25rem;
    margin: 0 2rem;
    color: var(--mainColorFontLight);
    font-weight: bold;
    text-decoration: none;
}

.burger{
    position: relative;
    margin: 0 2rem;
    font-size: 2rem;
    color: var(--mainColorFontLight);
    transition: 0.5s;
}

.burger:hover{
    cursor: pointer;
}

.subcontainer{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: var(--mainColorLight);
    z-index: 9999;
}

.sublink{
    width: 100%;
    text-align: right;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: var(--mainColorFontLight);
    font-weight: bold;
    text-decoration: none;
}