.itemFrame{
    position: relative;
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--mainFontColorLight);
    margin: 0.5rem;
}

.item{
    position: relative;
    width: 100%;
    margin: 0.5rem;
    aspect-ratio: 1/1;
}

.caption{
    position: relative;
    width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
}

.title{
    font-size: 1rem;
    font-weight: bolder;
    position: relative;
    width: 100%;
}

.date{
    font-size: 0.75rem;
    width: 100%;
}